:root {
    font-family: 'Sono', sans-serif;
    background-color: #ecfdf5;
    ;
}

body {
    margin: 0;
}

#logo {
    padding: 15px 0 5px 15px;
    font-size: 3rem;
    font-weight: 700;
    color: #064e3b;
    background-color: white;
    box-shadow: 0 2px 2px #34f1bc;
}

.form-pop-up {
    display: none;
}

#book-shelf {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 2px 2px 2px #34f1bc;
    border-radius: 0.6rem;
}

.card > p {
    font-size: 1.3rem;
    text-align: center;
    margin: 10px;
}

.card > .title {
    margin-top: 20px;
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 80%;
    margin: 10px 0 20px 0;
}

.button-group > button {
    font-family: 'Sono', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    border: 0;
    border-radius: 8px;
    padding: 6px;
    width: 100%;
}

.delete-book {
    color: white;
    background-color: rgb(225, 110, 110);
}